@import "../assets/scss/mixins";

.dashboard-screen {
  .dashboard-cards-holder {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    .card-item {
      width: calc(100% - 20px);
      @include md() {
        width: calc(50% - 20px);
      }
      @include lg() {
        width: calc(33% - 20px);
      }
      @include xl() {
        width: calc(25% - 20px);
      }
    }
    .metrics-holder {
      display: flex;
      flex-direction: row;
      .metric-item {
        flex: 1;
        text-align: left;
        &.metric-error {
          .item-value {
            color: var(--error);
          }
        }
        &.metric-warn {
          .item-value {
            color: var(--warn);
          }
        }
        &.metric-success {
          .item-value {
            color: var(--success);
          }
        }
        .item-title {
          font-size: 14px;
          color: var(--textLight);
        }
        .item-value {
          font-size: 24px;
          color: var(--textDark);
        }
      }
    }
  }
}
