.app-layout-screen {
  .app-header {
    background: var(--primary);
    height: 58px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    .branding {

    }
    .branding-text {
      font-size: 16px;
      font-weight: 600;
      margin-left: 12px;
    }
    .app-header-info {
      font-size: 14px;
      background: var(--success);
      border-radius: 10px;
      padding: 4px 10px;
      margin-left: 12px;
      color: var(--successContrastText);
    }
  }
  .app-layout-content {
    margin-top: 60px;
    background: var(--backgroundColor);
  }
}
