import { Outlet } from "react-router-dom";
import {ImageConfig} from "../constants";

const AppLayout = () => {
    return (
        <div className="app-layout-screen">
            <>
                <div className="app-header">
                    <div className="branding">
                        <img src={ImageConfig.reactLogo} alt={'logo'}/>
                    </div>
                </div>
                <div className={'app-layout-content'}>
                    <Outlet />
                </div>
            </>
        </div>
    )
}

export default AppLayout;
