html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-judson), sans-serif;
}

body {
    background: var(--backgroundColor);
}

a {
    color: inherit;
    font-family: var(--font-lexend), sans-serif;
    text-decoration: none;
}


.cursor-pointer {
  cursor: pointer !important;
}

.analytics-modal-holder {

}
